<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/404/style.css">
<%- include('./partials/close-head') %>

<body>
  <div class="container">
    <div class="error-code">404!</div>
    <div class="error-message">Oops! Page not found.</div>
    <a class="home-link" href="/home">Back to the home page</a>
  </div>
</body>

</html>