<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/404.css">
<%- include('./partials/close-head') %>

<body>
  <div class="container">
    <div class="error-code" data-aos="zoom-in-down" data-aos-easing="ease-in-out">404!</div>
    <div class="error-message" data-aos="zoom-in" data-aos-easing="ease-in-out">Oops! Página não encontrada.</div>
    <a href="/home" data-aos="zoom-in-up" data-aos-easing="ease-in-out">Voltar para a página inicial</a>
  </div>
</body>

</html>

<%- include('partials/aos-cdn') %>