<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/faqs.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <nav>
      <a href="/services">
        <i class="fa-solid fa-arrow-left"></i>
        <p>Serviços</p>
      </a>

      <a href="/services/faqs/new-ask">
        <i class="fa-solid fa-plus"></i>
        <p>Tire Alguma Dúvida</p>
      </a>
    </nav>

    <section>
      <h1>Perguntas frequentes sobre nossos serviços</h1>

      <article>

      </article>
    </section>

  </main>
</body>

</html>

<%- include('partials/aos-cdn') %>