<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/home.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <section id="welcome" data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" data-aos-duaration="3000" data-aos-delay="250">
      <div class="text">
        <h1>Bem-vindo à <span>Web Care</span>, sua parceira de confiança em soluções empresariais.</h1>
        <p>Somos especialistas em oferecer soluções completas para empresas, desde consultoria estratégica até serviços de gestão e suporte técnico.</p>
      </div>
      <img draggable="false" id="welcome-image" src="./svg/blue-care.svg" alt="Web Care's home page image">
    </section>

    <section id="invite" data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" data-aos-duaration="3000" data-aos-delay="250">
      <img draggable="false" id="invite-image" src="./svg/blue-signup.svg" alt="home's signup invite image">
      <div class="text">
        <h1>Estamos aqui para ajudar o seu negócio prosperar. <a href="/signup">Cadastre-se</a> já e desfrute do serviço que nossas equipes podem oferecer para sua empresa!</h1>
      </div>
    </section>

    <section id="us" data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" data-aos-duaration="3000" data-aos-delay="250">
      <div class="text">
        <h1>Sobre <span>Os Descolados</span></h1>
        <p>
          Somos propritários da <span>Web Care</span>, que origina-se da disciplina de <span>PI (Projeto Integrador)</span> da <span>ETE Antônio Arruda de Farias</span>.
        </p>
        <p>Professor: Manoel Cabral</p>
        <p>2023 &#169; todos os direitos reservados.</p>
      </div>
      <img draggable="false" id="us-image" src="./svg/blue-us.svg" alt="about us ilustration image">
    </section>
  </main>
</body>

</html>
<%- include('partials/aos-cdn') %>
