<%- include('./partials/head') %>
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>
  </main>
  <object data="svg/waves/profile.svg" type="image/svg+xml"></object>
</body>

</html>