<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/profile.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>
  </main>
</body>

</html>

<script src="script/theme.js"></script>
<script src="https://kit.fontawesome.com/a2640589f9.js"></script>