<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/services.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <aside>
    <header>
      <a href="services/faqs">FAQs</a>
      <i class="fa-solid fa-xmark"></i>
    </header>

    <span>
      <a href="/faqs/:id">
        Link para um artigo de alguma pergunta feita com frequência 
      </a>
    </span>
  </aside>
  <main>
  </main>
</body>

</html>

<script src="script/aside.js"></script>
<%- include('partials/aos-cdn') %>