<%- include('./partials/head') %>
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main id="services">
  </main>
  <%- include('./partials/footer') %>
</body>

</html>