<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/auth.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>

    <form method="POST" autocomplete="off">

      <header>
        <h1 data-aos="fade-right" data-aos-easing="linear">
          <span>S</span>ign <span>U</span>p
        </h1>
      </header>

      <span class="field">
        <label for="username" data-aos="fade-left" data-aos-easing="linear">
          Nome de Usuário
        </label>
        <input placeholder="Nome de usuário" type="text" name="username" required data-aos="zoom-in" data-aos-easing="linear">
      </span>

      <span class="field">
        <label for="password" data-aos="fade-left" data-aos-easing="linear">
          Senha
        </label>
        <input placeholder="Senha" type="password" name="password" required data-aos="zoom-in" data-aos-easing="linear">
      </span>

      <span class="field">
        <label for="confirmPassword" data-aos="fade-left" data-aos-easing="linear">
          Confirmar Senha
        </label>
        <input placeholder="Confirmar Senha" type="password" name="confirmPassword" required data-aos="zoom-in" data-aos-easing="linear">
      </span>

      <button type="submit" data-aos="zoom-in" data-aos-easing="ease-in-out">Enviar</button>

      <div class="auth-redirect" data-aos-anchor-placement=".auth-redirect" data-aos="zoom-in" data-aos-easing="ease-in-out">
        Já tem uma conta?
        <a href="/signin">Sign In</a>
      </div>

    </form>

  </main>
</body>

</html>

<%- include('partials/aos-cdn') %>