<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/globals.css" />
<link rel="stylesheet" href="stylesheet/signup/style.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>
  </main>
</body>

</html>