<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/signup/style.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>

    <form method="POST" autocomplete="off">

      <header>
        <h1>
          <span>S</span>ign <span>U</span>p
        </h1>
        <img src="/svg/sign/sign.svg" alt="Sign's icon" width="24px" height="24px">
      </header>

      <span class="field">
        <label for="username">
          Username
        </label>
        <input placeholder="Username" type="text" name="username" required>
      </span>

      <span class="field">
        <label for="password">
          Password
        </label>
        <input placeholder="Password" type="password" name="password" required>
      </span>

      <span class="field">
        <label for="confirmPassword">
          Confirm Password
        </label>
        <input placeholder="Confirm Password" type="password" name="confirmPassword" required>
      </span>

      <button type="submit">Submit</button>

      <div id="link-to-signin">
        Already have an account?
        <a href="/signin">Sign In</a>
      </div>

    </form>

  </main>

  <script src="script/signup.js"></script>
</body>

</html>