<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/signin.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>

    <form method="POST" autocomplete="off">

      <header>
        <h1>
          <span>S</span>ign <span>I</span>n
        </h1>
      </header>

      <span class="field">
        <label for="username">
          Nome de Usuário
        </label>
        <input placeholder="Nome de Usuário" type="text" name="username" required>
      </span>

      <span class="field">
        <label for="password">
          Senha
        </label>
        <input placeholder="Senha" type="password" name="password" required>
      </span>

      <button type="submit">Enviar</button>

      <div id="link-to-signup">
        Ainda não tem uma conta?
        <a href="/signup">Sign Up</a>
      </div>

    </form>

  </main>
</body>

</html>

<%- include('partials/aos-cdn') %>