<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/signup.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>

    <form method="POST" autocomplete="off">

      <header>
        <h1>
          <span>S</span>ign <span>U</span>p
        </h1>
      </header>

      <span class="field">
        <label for="username">
          Nome
        </label>
        <input placeholder="Nome" type="text" name="username" required>
      </span>

      <span class="field">
        <label for="password">
          Senha
        </label>
        <input placeholder="Senha" type="password" name="password" required>
      </span>

      <span class="field">
        <label for="confirmPassword">
          Confirmar Senha
        </label>
        <input placeholder="Confirmar Senha" type="password" name="confirmPassword" required>
      </span>

      <button type="submit">Enviar</button>

      <div id="link-to-signin">
        Já tem uma conta?
        <a href="/signin">Sign In</a>
      </div>

    </form>

  </main>
</body>

</html>