<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Rede de cuidados empresariais" />
  <title>Web Care</title>
  <link rel="stylesheet" href="stylesheet/globals.css" />
  <link rel="icon" type="image/x-icon" href="icon/favicon.ico" />
  <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png" />
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="icon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="icon/android-chrome-192x192.png" />
  <link rel="icon" type="image/png" sizes="512x512" href="icon/android-chrome-512x512.png" />