<header>
  <section>
    <a href="/home" id="banner">
      <img src="icon/icon-32x32.png" alt="Web Care Logo" width="32px" height="32px">
      <h1>Web Care</h1>
    </a>

    <%- include('nav') %>

    <span id="settings">
      <img src="svg/settings/moon.svg" alt="toggle dark theme's button">
      <img src="svg/settings/language.svg" alt="set language's button">
    </span>
  </section>

  <%- include('mobile-nav') %>

</header>