<header id="header">
  <section>
    <a href="/home" id="banner" data-aos="fade-right" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="250">
      <img id="logo" src="icon/blue-icon-32x32.png" alt="Web Care Logo" width="32px" height="32px">
      <h1>Web Care</h1>
    </a>

    <%- include('nav') %>

    <button id="theme" data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="250">
      <i class="fa-solid fa-moon fa-xl"></i>
    </button>

  </section>

  <%- include('mobile-nav') %>

</header>

<script src="script/theme.js" defer></script>
<script src="https://kit.fontawesome.com/a2640589f9.js" defer></script>