<header>
  <section>
    <a href="/home" id="banner">
      <img src="cherry tree-pana.png" alt="Web Care Logo" width="42px" height="42px">
      <h1>Web Care</h1>
    </a>

    <nav id="nav">
      <a href="/home">Home</a>
      <a href="/services">Services</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>

    <span id="settings">
      <img src="svg/settings/light/moon.svg" alt="toggle dark theme button">
      <img src="svg/settings/light/language.svg" alt="set language button">
    </span>
  </section>

  <nav id="mobile-nav">
    <a href="/home">
      <img src="svg/nav/light/home.svg" alt="">
      <p>Home</p>
    </a>
    <a href="/services">
      <img src="svg/nav/light/services.svg" alt="">
      <p>Services</p>
    </a>
    <a href="/about">
      <img src="svg/nav/light/about.svg" alt="">
      <p>About</p>
    </a>
    <a href="/contact">
      <img src="svg/nav/light/contact.svg" alt="">
      <p>Contact</p>
    </a>
  </nav>
</header>