<nav id="mobile-nav">
  <a href="/home">
    <img src="svg/nav/home.svg" alt="Ícone da ancora para /home">
  </a>
  <a href="/services">
    <img src="svg/nav/services.svg" alt="Ícone da ancora para /services">
  </a>
  <a href="/profile">
    <img src="svg/nav/profile.svg" alt="Ícone da ancora para /profile">
  </a>
</nav>