<nav id="mobile-nav">
  <a href="/home">
    <img src="svg/nav/home.svg" alt="Ícone da ancora para /home">
  </a>
  <a href="/services">
    <img src="svg/nav/services.svg" alt="Ícone da ancora para /services">
  </a>
  <a href="/contact">
    <img src="svg/nav/contact.svg" alt="Ícone da ancora para /contact">
  </a>
</nav>