<nav id="mobile-nav" data-aos="zoom-out" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="250">
  <a href="/home">
    <i class="fa-solid fa-house <%= currentPage === 'home' ? 'currentPage' : '' %>"></i>
  </a>

  <% if (user) { %>
  <a href="/services">
    <i class="fa-solid fa-briefcase <%= currentPage === 'services' ? 'currentPage' : '' %>"></i>
  </a>
  <a href="/profile">
    <img draggable="false" class="<%= currentPage === 'profile' ? 'currentPage' : '' %>" src="<%- user.picture %>" alt="Profile Picture">
  </a>
  <% } else { %>
  <a>
    <i class="fa-solid fa-briefcase"></i>
  </a>
  <a href="/auth">
    <i class="fa-solid fa-user"></i>
  </a>
  <% } %>
</nav>