<nav id="mobile-nav">
  <a href="/home">
    <img src="svg/nav/light/home.svg" alt="">
    <p>Home</p>
  </a>
  <a href="/services">
    <img src="svg/nav/light/services.svg" alt="">
    <p>Services</p>
  </a>
  <a href="/about">
    <img src="svg/nav/light/about.svg" alt="">
    <p>About</p>
  </a>
  <a href="/contact">
    <img src="svg/nav/light/contact.svg" alt="">
    <p>Contact</p>
  </a>
</nav>