<aside data-aos="fade-right" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="100">
  <header>
    <a data-aos="fade-right" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="600" href="services/faqs">FAQs</a>
    <i data-aos="fade-right" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="350" class="fa-solid fa-arrow-right"></i>
  </header>

  <span data-aos="fade-right" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="850" id="faq-links">
  </span>
</aside>

<script src="script/render-asks.js" defer></script>
<script src="script/aside.js" defer></script>