@import url("globals.css");

body {
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-code {
  color: var(--color);
  font-size: 6rem;
}

.error-message {
  color: var(--color);
  font-size: 1.5rem;
  margin-top: 10px;
}

a {
  color: var(--color);
  text-decoration: none;
  border: 1px solid var(--color);
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 0.5rem;
}

a:hover {
  background-color: var(--color);
  color: var(--background);
}

@media (max-width: 320px) {
  .error-code {
    font-size: 4rem;
  }

  .error-message {
    font-size: 1rem;
  }

  a {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 0.75rem;
  }
}