@import url("globals.css");

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

::selection {
  background-color: var(--primary);
  color: var(--background);
}

:disabled {
  color: var(--disable);
}

::placeholder {
  color: var(--primary);
}

main #ask-info,
main #send-answer,
main #answers-container {
  padding-top: 45px;
  width: 100%;
  height: 100vh;
}

main #ask-info,
main #send-answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #answers-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 132px 5rem 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

form #id {
  display: none;
}

form input {
  padding: 0.25rem 1rem;
  border-bottom: 0.15rem solid var(--primary);
  border-radius: 0.25rem;
  background-color: transparent;
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: 500;
}

form textarea {
  padding: 0.25rem 1rem;
  width: 600px;
  height: 150px;
  border-bottom: 0.15rem solid var(--primary);
  border-radius: 0.25rem;
  background-color: transparent;
  color: var(--primary);
  resize: none;
  text-align: justify;
  font-size: 1rem;
}

form button {
  border: 0.15rem solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  color: var(--primary);
  font-size: 1.25rem;
}

form button:hover,
form button:focus {
  color: var(--background);
  background-color: var(--primary);
}

main #answers-container .answers {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  padding: 1rem 5rem;
  gap: 0.75rem;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  text-align: start;
}

main #answers-container .answers * {
  color: var(--primary);
}

@media screen and (max-width: 768px) {

  main #ask-info,
  main #send-answer {
    padding-top: 75px;
  }

  form input {
    font-size: 1rem;
    font-weight: 400;
  }

  form textarea {
    width: 375px;
  }

  main #answers-container {
    padding: 140px 2rem 2rem;
  }

  main #answers-container .answers {
    padding: 1rem;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 425px) {

  form textarea,
  form input,
  form button {
    width: 275px;
  }

  form textarea,
  form input {
    padding: 0.1rem 0.75rem;
    font-size: 0.85rem;
  }

  form button {
    padding: 0.25rem 0;
    font-size: 1.1rem;
  }

  main #answers-container .answers h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  main #answers-container .answers p {
    font-size: 0.9rem;
    font-weight: 300;
  }

  main #answers-container .answers {
    padding: 1rem 0.5rem;
  }

  main #answers-container {
    padding: 140px 1rem 1rem;
  }
}

@media screen and (max-width: 320px) {

  form textarea,
  form input,
  form button {
    width: 250px;
  }

  form textarea,
  form input {
    padding: 0.075rem 0.5rem;
    font-size: 0.75rem;
  }

  form button {
    font-size: 1.1rem;
  }
}