@import url("globals.css");

main {
  padding-top: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

form header h1 span {
  font-size: 2.5rem;
  color: var(--primary);
}

form .field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form label {
  color: var(--primary);
  font-size: 1.25rem;
}

form input {
  transition: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border-bottom: 0.2rem solid var(--primary);
  background-color: var(--background);
}

form input::selection {
  background-color: var(--primary);
  color: var(--background);
}

form button {
  color: var(--primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0.15rem solid var(--primary);
  border-radius: 0.25rem;
}

form button:hover,
form button:focus {
  background-color: var(--primary);
  color: var(--background);
}

form .social-auth {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form .social-auth a i {
  color: var(--primary);
  height: 100%;
  width: auto;
}

form .auth-redirect {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

form .auth-redirect a {
  color: var(--primary);
}

@media (max-width: 500px) {
  form {
    width: 90%;
  }

  form label {
    font-size: 1.1rem;
  }

  form input {
    font-size: 1.1rem;
  }

  form button {
    font-size: 1.25rem;
  }

  form .auth-redirect {
    gap: 0.1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  form .auth-redirect {
    flex-direction: column;
  }
}