@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --background: #000000;
  --color: #ffffff;
  --primary: #4b4bff;
  --secondary: #ff4b4b;
  --gray: #7d7d7d;
  --fix-blue: #4b4bff;
  --fix-red: #ff4b4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  cursor: pointer;
}

input,
label {
  text-align: initial;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

body {
  display: flex;
  scroll-behavior: smooth;
  background-color: var(--background);
}

main {
  width: 100%;
  min-height: 100vh;
}

#header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
}

#header a,
#header #banner h1,
#header section #theme i,
#header #mobile-nav a i {
  color: var(--primary);
}

#header section #theme {
  width: 20px;
  height: 20px;
}

#header section #theme i:hover {
  color: var(--color);
}

#header section {
  width: 100%;
  min-height: 42px;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

#header section #banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#header section #banner h1 {
  font-weight: 500;
}

#header section #nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
}

#header #mobile-nav {
  width: 100%;
  min-height: 28px;
  height: 5vh;
  display: none;
}

#header section #nav .currentPage,
#header #mobile-nav .currentPage {
  color: var(--secondary);
}

#header section #nav a:hover {
  color: var(--color);
  text-decoration: underline 1px var(--color);
}

@media (max-width: 1024px) {
  #header section {
    padding: 0 1rem;
  }

  #header section #banner img {
    width: 36px;
    height: 36px;
  }

  #header section #banner h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  #header section #nav {
    gap: 0.75rem;
  }

  #header section #settings {
    width: 10%;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  #header section {
    padding: 0 0.5rem;
  }

  #header section #nav {
    display: none;
  }

  #header section #settings {
    gap: 0.25rem;
  }

  #header #mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 425px) {
  #header section #banner {
    gap: 0.25rem;
  }

  #header section #settings {
    width: 15%;
  }
}