@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --gray: rgb(125, 125, 125);
  --blue: rgb(75, 75, 255);
  --red: rgb(255, 75, 75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  word-wrap: break-word;
}

button {
  background-color: transparent;
  cursor: pointer;
}

input, label {
  text-align: initial;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--red);
}

body {
  display: flex;
  scroll-behavior: smooth;
  background-color: var(--black);
}

main {
  width: 100%;
  min-height: 100vh;
}

#header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--black);
}

#header a,
#header #banner h1 {
  color: var(--blue);
}

#header section {
  width: 100%;
  min-height: 42px;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

#header section #banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#header section #banner h1 {
  font-weight: 500;
}

#header section #nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
}

#header section #settings {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#header #mobile-nav {
  width: 100%;
  min-height: 28px;
  height: 5vh;
  display: none;
}

@media (max-width: 1024px) {
  #header section {
    padding: 0 1rem;
  }

  #header section #banner img {
    width: 36px;
    height: 36px;
  }

  #header section #banner h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  #header section #nav {
    gap: 0.75rem;
  }

  #header section #settings {
    width: 10%;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  #header section {
    padding: 0 0.5rem;
  }

  #header section #nav {
    display: none;
  }

  #header section #settings {
    gap: 0.25rem;
  }

  #header #mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 425px) {
  #header section #banner {
    gap: 0.25rem;
  }

  #header section #settings {
    width: 15%;
  }
}
