@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(125, 125, 125);
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: 100vh;
}

#services {
  min-height: 177.5vh;
}

header {
  width: 100%;
  height: 7.5vh;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

header #banner {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

header #banner img {
  margin-bottom: 0.5rem;
}

header #banner h1 {
  font-weight: 600;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  font-size: 1.25rem;
}

header #settings {
  width: 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #settings img {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 25vh;

  background: black;
  color: white;
}
