@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(125, 125, 125);
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: 100vh;
}

#services {
  min-height: 177.5vh;
}

header {
  width: 100%;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header section {
  width: 100%;
  height: 7.5vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

header section #banner {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

header section #banner img {
  margin-bottom: 0.5rem;
}

header section #banner h1 {
  font-weight: 600;
}

header section #nav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  font-size: 1.25rem;
}

header section #settings {
  width: 12.5%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header section #settings img {
  cursor: pointer;
}

header #mobile-nav {
  width: 100%;
  height: 5vh;
  display: none;
}

footer {
  width: 100%;
  height: 25vh;

  background: black;
  color: white;
}

@media (max-width: 1024px) {
  header section {
    padding: 0 1rem;
  }

  header section #banner img {
    width: 36px;
    height: 36px;
  }

  header section #banner h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  header section #nav {
    gap: 0.75rem;
  }

  header section #settings {
    width: 10%;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  header section {
    padding: 0 0.5rem;
  }

  header section #nav {
    display: none;
  }

  header section #settings {
    gap: 0.25rem;
  }

  header #mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  header #mobile-nav img {
    display: none;
  }
}

@media (max-width: 425px) {
  header section #settings {
    width: 15%;
  }

  header #mobile-nav p {
    display: none;
  }

  header #mobile-nav img {
    display: block;
  }
}
