@import url("globals.css");

#welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 7.5vh;
}

#welcome .text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#welcome .text h1,
#welcome .text p {
  padding: 0 2.5rem;
  color: var(--fix-blue);
}

#welcome .text h1 span {
  cursor: pointer;
}

#welcome .text h1 span:hover {
  color: var(--fix-red)
}

#welcome img {
  width: 40%;
  height: auto;
  padding: 1rem;
}

#invite img {
  width: 40%;
  height: auto;
  padding: 1rem;
}

#invite {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 7.5vh;
}

#invite .text {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  font-weight: 600;
}

#invite .text h1 {
  color: var(--fix-red);
}

#invite .text a:hover {
  color: var(--fix-blue);
}

#us {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 7.5vh;
}

#us .text {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2.5rem;
}

#us .text h1,
#us .text p {
  color: var(--gray);
}

#us .text span {
  color: var(--color);
  cursor: pointer;
}

#us img {
  width: 50%;
  height: auto;
}

@media (max-width: 1024px) {

  #welcome .text h1,
  #welcome .text p {
    padding: 0 1.5rem;
  }

  #welcome .text h1 {
    font-size: 1.25rem;
  }

  #invite .text {
    padding: 0 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width:768px) {
  #welcome .text {
    width: 100%;
  }

  #welcome .text h1,
  #welcome .text p {
    padding: 0 3rem;
  }

  #welcome .text h1 {
    font-size: 1.5rem;
  }

  #welcome .text p {
    font-size: 1.15rem;
  }

  #welcome img {
    display: none;
  }

  #invite img {
    display: none;
  }

  #invite .text {
    width: 100%;
    padding: 0 3rem;
    font-size: 1.25rem;
  }

  #us .text {
    width: 100%;
  }

  #us .text h1 {
    font-size: 2rem;
  }

  #us .text p {
    font-size: 1.25rem;
  }

  #us img {
    display: none;
  }
}

@media (max-width: 640px) {
  #welcome .text h1,
  #welcome .text p {
    padding: 0 1rem;
  }

  #invite .text {
    padding: 0 1rem;
    font-size: 0.8rem;
  }

  #us .text {
    padding: 0 1rem;
  }
}

@media (max-width: 425px) {
  #us .text h1 {
    font-size: 1.35rem;
  }

  #us .text p {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  #welcome .text h1 {
    font-size: 1.25rem;
  }

  #welcome .text p {
    font-size: 1rem;
  }

  #invite .text {
    font-size: 0.75rem;
  }
}