@import url("globals.css");

#welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 7.5vh;
}

#welcome .text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#welcome .text h1,
#welcome .text p {
  padding: 0 2.5rem;
  color: var(--fix-blue);
}

#welcome .text h1 span {
  cursor: pointer;
}

#welcome .text h1 span:hover {
  color: var(--fix-red)
}

#welcome img {
  width: 40%;
  height: auto;
  padding: 1rem;
}

#invite {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 7.5vh;
}

#invite div {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#invite div h1 {
  padding: 0 5rem;
  color: var(--fix-red);
  font-weight: 600;
}

#invite div h1 a:hover {
  color: var(--fix-blue);
}

#invite img {
  width: 50%;
  height: auto;
  padding: 1rem;
}

#us {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 7.5vh;
}

#us .text {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2.5rem;
}

#us .text h1,
#us .text p {
  color: var(--gray);
}

#us .text span {
  color: var(--color);
  cursor: pointer;
}

#us img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  #welcome {
    flex-direction: column;
  }

  #welcome .text {
    height: 50%;
    width: 100%;
    gap: 0.5rem;
  }

  #welcome .text h1,
  #welcome .text p {
    padding: 0 1rem;
  }

  #welcome .text h1 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  #welcome img {
    width: 100%;
    height: 50%;
    padding: 0px;
  }

  #invite {
    flex-direction: column;
  }

  #invite span {
    width: 100%;
    height: 50%;
  }

  #invite span h1 {
    padding: 0 1rem;
    font-size: 1.25rem;
  }

  #invite img {
    width: 100%;
    padding: 2.5rem;
  }

  #us {
    flex-direction: column;
  }

  #us .text {
    height: 50%;
    width: 100%;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  #us img {
    width: 100%;
    height: auto;
  }
}