@import url("globals.css");

body {
  display: flex;
  overflow: hidden;
}

aside {
  position: fixed;
  height: 100vh;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  border-right: 0.2rem solid var(--disable);
  padding: 75px 2.5rem 30px;
  gap: 1rem;
  background-color: var(--background);
}

aside header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

aside header a {
  font-size: 1.5rem;
  font-weight: 600;
}

aside header i {
  cursor: pointer;
}

aside header .a-l {
  color: var(--color);
}

aside span a,
aside header .a-r {
  color: var(--primary);
}

aside span a:hover {
  color: var(--color);
  text-decoration: underline 0.1rem var(--color);
}

aside span {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  word-wrap: break-word;
  overflow-y: auto;
}

aside span a {
  padding: 0 0.5rem 0 0;
  text-align: start;
}

main {
  height: 200vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {

  aside header a:hover,
  aside header .a-l:hover {
    color: var(--primary);
  }

  aside header .a-r:hover {
    color: var(--color);
  }
}

@media screen and (max-width: 768px) {
  aside {
    padding: 100px 1rem 10px;
    max-width: 400px;
  }

  aside span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  aside {
    max-width: 350px;
  }

  aside header a {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 475px) {
  aside {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  aside {
    max-width: 200px;
  }

  aside header a {
    font-size: 1rem;
  }

  aside span a {
    max-width: 95%;
    padding: 0 0.25rem;
  }
}