@import url("globals.css");

body {
  display: flex;
}

aside {
  position: fixed;
  height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border-right: 0.2rem solid var(--disable);
  padding: 75px 2.5rem;
  gap: 1rem;
}

aside header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside header a {
  font-size: 1.5rem;
  font-weight: 600;
}

aside header i {
  cursor: pointer;
}

aside header a:hover,
aside header .x:hover {
  color: var(--primary);
}

aside header .x {
  color: var(--color);
}

aside span a,
aside header .arrow {
  color: var(--primary);
}

aside header .arrow:hover {
  color: var(--color);
}

aside span {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.1rem;
  word-wrap: break-word;
}

main {
  height: 200vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  aside {
    padding: 100px 1rem;
    max-width: 400px;
  }

  aside span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  aside {
    max-width: 350px;
  }

  aside header a {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 475px) {
  aside {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  aside {
    max-width: 200px;
  }

  aside header a {
    font-size: 1rem;
  }
}