@import url("../globals.css");

body {
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-code {
  color: var(--white);
  font-size: 6rem;
}

.error-message {
  color: var(--white);
  font-size: 1.5rem;
  margin-top: 10px;
}

.home-link {
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--white);
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0.5rem;
}

.home-link:hover {
  background-color: var(--white);
  color: var(--blue);
}
